@import "./variables.css";
@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
    font-family: 'Roboto';
    src: url(./fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 400;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "main";
    font-family: 'Roboto';
}

a{
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background: var(--primary-background);
    
}

.nav__link{
    font-family: 'Roboto';
    font-weight: 700;
    color: aqua;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    
}

.logo-wrapper {
    padding: 10px;
}

.logo {
    width: 4rem;
    border-radius: 32px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 100%;
}

.input{
   background-color: inherit; 
   border-radius: 8px;
   
}

.input-wrapper {
    padding: 10px;
}

.input:focus {
    outline: none;
}

.main{
  
    background: var(--primary-background);
    
}

.all__products{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.back{
    background: var(--primary-background);
}

.poster{
    display: flex;
    justify-content: center;

}

.img{
    width: 50%;
    margin: 5rem;
    transition: 500ms;
}

.img:hover{
    transform: scale(1.3);
}

.titel{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    font-weight: 700;
    color: rgb(30, 44, 44);
    font-weight: 400;
    font-size: 28px;
}

.content1{
display: flex;
justify-content: center;
text-align: center;
padding: 0 2rem 2rem 2rem;
font-weight: 700;
color: rgb(30, 44, 44);
font-weight: 400;
font-size: 28px;
}
 
.product__image-wrapper{
    padding: 7%;
}

.product__image{
    width: 300px;
}

.product__image{
    transition: 500ms;
    width: 300px;
    height: 200px;
}

.product__image:hover{
    transform: scale(1.3);
}

/* Button */
.btn-wrapper {
    width: 100%;
    height: 42px;
    display: flex;
    justify-content:center ;
    align-items: center;
    padding: 25%;
    
}

.btn{
display: inline-block;
padding: 15px 45px ;
background-color: rgb(231, 111, 55);
border: 0;
border-radius: 4px;
user-select: none;
font-weight: 200;
    font-size: 18px;
    line-height: 18px;
}

.footer{
    background: var(--primary-background);
    padding: 1rem;
    text-align: right;
}

.form{
    background: var(--primary-background);
    display: flex;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    justify-content: center;
    text-align: center;
    color: aqua;
    padding: 5rem;
    height: 83vh;
    font-size: 3rem;
}

.button-wrapper{
    text-align: center;   
    padding: 3rem;
}
