:root{
    
/* BG COLORS */
--primary-bg-coor: darkmagenta;
--secondary-bg-color: magenta;

/* Background */
--primary-background: linear-gradient( 50deg, rgb(30, 130, 155), rgb(216, 122, 50)) ;
--secondary-background: linear-gradient( 30deg,darkmagenta, magenta ) ;
/*  Border-color */
--primary-border-color: magenta;
--secondary-border-color: darkorchid;
--third-border-color: orchid;

/* Padding  */
--xxl-pading: 5rem;
--xl-padding: 3rem;
--l-padding: 2rem;
--m-padding: 1.2rem;
--s-padding: .8rem;

/* Margin  */
--xxl-margin: 5rem;
--xl-margin: 3rem;
--l-margin: 2rem;
--m-margin: 1.2rem;
--s-margin: .8rem;

/*  Width */
--full-width: 100%;
--quarter-to-full-width: 75%;
--half-to-full-width: 50%;
--quarter-past-zero-width: 25%

/*  Fullsreen size */
--ful-heigt: 100vh;
--full-width:100vw;

/* text-color */
--primary-text-color: white;
--secondary-text-color: aliceblue;
--third-text-color: lightblue;


}




